<footer class="site-footer h-card">
  <!--<footer class="Footer" role="contentinfo" data-controller="FooterBreakpoints">-->
	<div class="Footer-inner clear">
		<div class="Footer-middle">
			<div class="contact-wrapper">
				<div class="contact-info">
					<a href="https://twitter.com/rapprach" class="contact-info-item"><i class="fa fa-twitter"></i></a>
				</div>
				<div class="contact-info">
					<a href="https://github.com/rachrapp" class="contact-info-item"><i class="fa fa-github"></i></a>
				</div>
				<div class="contact-info">
					<a href="mailto:rachel.rapp@uni-tuebingen.de" class="contact-info-item"><i class="fa fa-envelope"></i></a>
				</div>
			</div>

			<nav class="Footer-nav" data-content-field="navigation">
				<div class="Footer-nav-group">
					<a href="/about.html" class="Footer-nav-item">About Me</a>
					<a href="/publications.html" class="Footer-nav-item">Publications</a>
					<a href="/cv.pdf" class="Footer-nav-item">CV</a>
					<a href="/blog" class="Footer-nav-item">Blog</a>
					<a href="mailto:rachel.rapp@uni-tuebingen.de" class="Footer-nav-item">Contact</a>
				</div>
			</nav>
		</div>
	</div>
  
  <!--<data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>-->

</footer>