<footer class="site-footer h-card">
	<div class="Footer-inner clear">
		<div class="Footer-middle">
			<div class="contact-wrapper">
				<div class="contact-info">
					<a href="https://twitter.com/rapprach" class="contact-info-item"><i class="fa fa-twitter"></i></a>
				</div>
				<div class="contact-info">
					<a href="https://github.com/rachrapp" class="contact-info-item"><i class="fa fa-github"></i></a>
				</div>
				<div class="contact-info">
					<a href="mailto:rachel.rapp@uni-tuebingen.de" class="contact-info-item"><i class="fa fa-envelope"></i></a>
				</div>
			</div>

			<nav class="Footer-nav" data-content-field="navigation">
				<div class="Footer-nav-group">
					<a href="https://eitelkalk.github.io#about" class="Footer-nav-item">About Me</a>
					<a href="https://eitelkalk.github.io#publications" class="Footer-nav-item">Publications</a>
					<a href="https://eitelkalk.github.io/cv.pdf" class="Footer-nav-item">CV</a>
					<a href="https://eitelkalk.github.io/blog" class="Footer-nav-item">Blog</a>
					<a href="mailto:rachel.rapp@uni-tuebingen.de" class="Footer-nav-item">Contact</a>
				</div>
			</nav>
		</div>
	</div>
</footer>