<header class="site-header">

	<div class="Site-inner Site-inner--index">
		<div style="background-color: #c7423f;">
			<p>&nbsp;</p>
		</div>
		
		<div style="background-color: #fff;">
			<p>&nbsp;</p>
		</div>
		<div class="toolbar big">
			<ul id="Navigation">
				<li><a href="https://eitelkalk.github.io#about">About Me</a></li>
				<li><a href="https://eitelkalk.github.io#publications">Publications</a></li>
			</ul>
			<div class="title"><a href="https://eitelkalk.github.io">Rachel Rapp</a></div>
			<ul id="Navigation">
				<li><a href="https://eitelkalk.github.io/cv.pdf">CV</a></li>
				<li><a href="https://eitelkalk.github.io/blog">Blog</a></li>
				<li><a href="mailto:rachel.rapp@uni-tuebingen.de">Contact</a></li>
			</ul>
		</div>
		<div class="toolbar small">
			<div class="title"><a href="">Rachel Rapp</a></div>
			<ul id="Navigation">
				<li><a href="https://eitelkalk.github.io#about" title="About Me"><i class="fa fa-address-card"></i></a></li>
				<li><a href="https://eitelkalk.github.io#publications" title="Publications"><i class="fa fa-th-list"></i></a></li>
				<li><a href="https://eitelkalk.github.io/cv.pdf" title="CV"><i class="fa fa-graduation-cap"></i></a></li>
				<li><a href="https://eitelkalk.github.io/blog" title="Blog"><i class="fa fa-book"></i></a></li>
				<li><a href="mailto:rachel.rapp@uni-tuebingen.de" title="Contact"><i class="fa fa-envelope"></i></a></li>
			</ul>
		</div>
		<div style="background-color: #fff;">
			<p>&nbsp;</p>
		</div>
	</div>
  </div>
</header>