---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

$color-red: #c7423f; /*#e1302d*/

html,body{font-family: 'Montserrat', sans-serif;}
h1 {color: $color-red;}
.page-content a,.page-content a:visited{
	color: $color-red;
	padding-bottom: .05em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(225,48,45,.3);
	transition: border-color .15s ease-out,color .15s ease-out;
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	color: rgba(225,48,45,.3);
    text-decoration: none;
}
site-title,page-title{
	color: $color-red;
	text-transform: uppercase;
}